version: '3.9'
services:
 json_cleaner_service:
  container_name: json_cleaner
  image: json_cleaner_image:latest
  environment:
   - SLACKBOT_IP_PORT=http://192.168.7.30:4444
  cpus: 1
  mem_limit: 256m
  ports:
   - "8088:8088"
